* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', 'Arial';
}

h1 {
  font-family: 'DM Serif Display', 'Times New Roman';
  font-size: 4em;
  color: whitesmoke;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: whitesmoke;
}

nav {
  position: absolute;
  width: 100%;

  z-index: 1;
}

ul {
  display: flex;
  padding: 1em;
  justify-content: center;
  list-style-type: none;
  
}

li {
  margin-right: 1em;
}

.cover {
  height: 70vh;
  margin: auto;
  background-image: url("../img/food-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.overlay {
  height: 100%;
  width: 100%;
  padding: 200px;
  text-align: center;
  background: rgba( 14, 13, 13, 0.2 );
  backdrop-filter: blur( 2px );
}

.products, .checkout {
  margin: auto;
  padding: 4em;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.drink, .food {
  padding: 1em;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

}
.card {
  padding: 2em;
  border: solid 3px gray;
  
}
.product-box {
  margin: auto;
  display: flex;
  justify-content: flex-start;

}
h4, h5 {
  margin: auto;
  font-size: 15px;
  padding: 0;
  text-transform: uppercase;
}

button {
  background-color: #df4323;
  border: none;
  color: whitesmoke;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 3px 3px 1px 0 rgba(0,0,0,0.5)
}

button:active {
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5)
}